@import 'variables';
@import 'mixins/monochrome';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 625%;
}

body {
  @include monochromatize;

  font-family: $font-stack;
  font-size: .16rem;

  & ::selection {
    background-color: $intermediate-color;
    color: $negative-color;
  }
}

.positive {
  @include monochromatize;
}

.negative {
  @include monochromatize(false);
}
