// Buttons
@import 'variables';
@import 'mixins/button';
@import 'mixins/transition';
@import 'mixins/box-shadow';
@import 'mixins/border';

// Basic button style
.btn {
  @include make-horizontal-border;
  transition: color 150ms ease-out;

  cursor: pointer;
  margin: .02rem;
  height: .36rem;

  &:focus {
    background-color: $fucus-color;
  }

  &:hover {
    @include clear-border;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .7;
  }

  &:active {
    transition: 0s;
  }
}

@each $mode, $is-positive in $modes {
  .btn-#{$mode} {
    @include monochromatize-button($is-positive)
  }
}
