// Buttons
@import 'variables';
@import 'mixins/monochrome';
@import 'mixins/transition';
@import 'mixins/box-shadow';
@import 'mixins/border';

.btn {
  @include monochromatize;
  @include make-horizontal-border;
  transition: color 150ms ease-out;

  cursor: pointer;
  margin: .02rem;
  height: .36rem;

  &:focus {
    // TODO: move this to _base.scss
    // background-color: rgba($intermediate-color, .5);
    outline: unset;
  }

  &:hover {
    @include monochromatize(false);
    @include clear-border;
  }

  &:active {
    @include monochromatize;
    transition: 0s;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .7;
  }
}

.btn.negative {
  @include monochromatize(false);

  &:hover {
    @include monochromatize;
  }

  &:active {
    @include monochromatize(false);
  }
}
