// Buttons
@import 'variables';
@import 'mixins/button';
@import 'mixins/transition';
@import 'mixins/box-shadow';
@import 'mixins/border';

// Basic button style
.btn {
  @include button-size($button-padding-vertical, $button-padding-horizontal, $font-size-l1, $button-line-height);
  transition: color 150ms ease-out;

  cursor: pointer;
  margin: .02rem;

  &:focus {
    background-color: $fucus-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .7;
  }

  &:active {
    transition: 0s;
  }
}

@each $mode, $is-positive in $modes {
  .btn-#{$mode} {
    @include monochromatize-button($is-positive)
  }
}

.btn-lg {
  @include button-size($button-lg-padding-vertical, $button-lg-padding-horizontal, $font-size-l2, $button-lg-line-height);
}

.btn-block {
  display: block;
  width: 100%;
}
