// Grid system based on flexbox, inspired by Philip Walton:
// https://philipwalton.github.io/solved-by-flexbox/demos/grids/

.grid {
  display: flex;
  flex-wrap: wrap;

  .grid-cell {
    flex: 1;
  }
}