// Make border
@import '../variables';

@mixin make-horizontal-border($is-positive: true) {
  $border-color: $positive-color;
  @if not $is-positive {
    $border-color: $negative-color;
  }

  border: .02rem solid $border-color;
  border-left: 0;
  border-right: 0;
}

@mixin clear-border {
  border: 0;
}
